<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Admitad_Setup>
            <version>0.1.0</version>
        </Admitad_Setup>
    </modules>
    <global>
        <resources>
            <admitad_setup_setup>
                <setup>
                    <module>Admitad_Setup</module>
                </setup>
            </admitad_setup_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <checkout>
                <args>
                    <modules>
                        <Admitad_Setup before="Mage_Checkout">Admitad_Setup</Admitad_Setup>
                    </modules>
                </args>
            </checkout>
        </routers>
    </frontend>
</config>
