# IDE settings
.gitignore
/.gitignore
PATCH_SUPEE-6285_CE_1.8.1.0_v1-2015-07-07-09-06-30.sh
/PATCH_SUPEE-6285_CE_1.8.1.0_v1-2015-07-07-09-06-30.sh
remove_images.php
/remove_images.php
.project
.metadata/
.settings/
.buildpath
.classpath
.idea/
*.iml
magicento.phpstorm.meta.php
nbproject/
/js/*
.htaccess
app/etc/local.xml
media/*
var/*
google*.html
downloader/.cache/*
